@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.page {
    width: 100%;
    height: 80%;
    padding: 4%;
    margin-top: 4%;
    padding-bottom: 100px;
}

#chat-nav {
    opacity: 0.7;
}

#chat {
    margin-top: 4%;
    width: 95%;
    border-radius: 10px;
    padding: 10px;
}

#user-input {
    width: 80%;
    height: 100px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    font-size: 18px;
}

#ai-message {
    background-color: #E0E0E0;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 80%;
}

.ai-text {
    font-size: 18px;
    color: #333333;
    width: auto;
    text-wrap: true;
    max-width: 80%;
}

#user-message {
    background-color: #D1E7DD;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
    max-width: 80%;
}

#user-input-container {
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F9FA;
}

.user-text {
    font-size: 18px;
    color: #0F5132;
    text-wrap: true;
    max-width: 80%;
}

#send-button {
    width: 50px;
    height: 50px;
    background-color: #0D6EFD;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#send-icon {
    width: 8%;
}


