@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

#navbar {
    width: 100%;
    height: 10%;
    background-color: #f0f0f0;
    border-top-width: 1;
    border-top-color: #d3d3d3;
    border-top-style: solid;
    padding-top: 5;
    padding-bottom: 5;
}

.nav-btn {
    height: 50%;
    margin: 4%;
}

#home-btn {
    opacity: 0.7;
}