@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.page {
    width: 100%;
    height: 100%;
    padding: 4%;
    margin-top: 4%;
}

#events {
    width: 90%;
    color: black;
}

#events-title {
    font-size: 24;
    color: black;
    font-weight: bold;
}

.hr-light {
    border-bottom-width: 1;
    border-bottom-color: #d3d3d3;
    border-bottom-style: solid;
    margin-top: 10;
    margin-bottom: 10;
}

#navbar {
    width: 100%;
    height: 7%;
    background-color: #f0f0f0;
    border-top-width: 1;
    border-top-color: #d3d3d3;
    border-top-style: solid;
    padding-top: 5;
    padding-bottom: 5;
}

.nav-btn {
    height: 60%;
    margin: 5%;
}

#home-btn {
    opacity: 0.7;
}