@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.page {
    width: 100%;
    height: 95%;
    padding: 4%;
    margin-top: 4%;
}

#events-nav {
    opacity: 0.7;
}

#event-title {
    width: 90%;
    color: black;
}

#events {
    width: 90%;
    color: black;
}

#title {
    font-size: 24;
    color: black;
    font-weight: bold;
}

#events-btn {
    opacity: 0.7;
}

#event-container {
    margin-top: 30px;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10%;
}

#event-image {
    width: 18%;
    margin-left: 2%;
}

#event-name {
    font-size: 14;
    font-weight: bold;
    margin-left: 5%;
}
